<div class="container-fluid py-5">
    <div class="container">
        <h2>User Management</h2>
        <div class="table-responsive mt-4">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Joined</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (user of users; track user.uid) {
                    <tr>
                        <td>{{ user.displayName }}</td>
                        <td>{{ user.email }}</td>
                        <td><span class="badge"
                                [ngClass]="{'bg-primary': user.role === 'customer', 'bg-warning': user.role === 'seller',  'bg-danger': user.role === 'admin'}">{{
                                user.role | uppercase }}</span></td>
                        <td>{{ user.createdAt || 'N/A' }}</td>
                        <td>
                            <button (click)="deleteUser(user.uid)" class="btn btn-sm btn-danger">Delete</button>
                        </td>
                    </tr>
                    } @empty {
                    <tr>
                        <td colspan="5" class="text-center">No users found.</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>