/* Customer Footer - Green Theme */
.footer {
  background-color: #0E2E50 !important;
}

.btn-primary {
  background-color: #00B98E;
  border-color: #00B98E;
  
  &:hover {
    background-color: #00a077;
    border-color: #00a077;
  }
}

.text-primary {
  color: #00B98E !important;
}

.btn-outline-light {
  &:hover {
    background-color: #00B98E;
    border-color: #00B98E;
  }
}

.btn-social {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}